main {
  display: flex;
  justify-content: center;
}

.more-wrapper {
  width: 80vw;
}

.more {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__img {
    margin: 0 auto;
    align-items: center;
  }
  &__img img {
    width: 100%;
    margin: 0 auto;
    align-items: center;
  }
}
