main:has(.wrapper) {
	background-color: var(--color-tertiary-light);
}

.wrapper {
	width: 100%;
	padding: 80px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 48px;
	@media (max-width: 540px) {
		padding: 40px 0;
	}
}

.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 15%;
	color: var(--color-secondary-light);
	@media (max-width: 540px) {
		flex-direction: column;
	}

	&__btn {
		margin: 0;
		box-sizing: border-box;
		font-size: var(--font-size-a5);
		@media (max-width: 540px) {
			order: 1;
		}
	}

	&__title {
		margin: 0;
		font-size: var(--font-size-a3);
	}
}

.more {
	padding: 16px;
	box-sizing: border-box;
	width: 100%;
	color: var(--color-text);
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	gap: 32px;
	@media (max-width: 740px) {
		padding: 8px;
		flex-direction: column;
		align-items: center;
	}

	&__img {
		width: max(70%, 300px);
	}

	&__img img {
		width: 100%;
	}

	&__description {
		text-align: right;
	}

	&__title {
		margin: 0;
		font-size: var(--font-size-a4);
	}

	&__text a {
		text-decoration: none;
		color: inherit;
	}
}
