.about {
	width: 100%;
	color: var(--color-text);
	display: flex;
	justify-content: center;

	&__description {
		margin: 12px;
		width: 60%;
	}
}

main:has(.about) {
	background-color: var(--color-primary);
}
