body {
  font-family: "Old Standard TT", serif;
}

.main {
  background-color: var(--color-primary);
  width: calc(100vw);
  display: flex;
  align-items: center;
  flex-direction: column;
  @media (max-width: 900px) {
    width: 100vw;
  }

  &__header {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header-title {
    color: var(--color-text);
    font-size: 48px;
    margin: 0 10px;
  }

  &__header-description {
    margin: 0 10px;
    display: flex;
    align-items: center;
    color: var(--color-text);
  }

  &__header-text {
    font-size: 22px;
  }

  &__header-select {
    margin: 0 10px;
    height: 30px;
    background-color: var(--color-primary);
    border-color: var(--color-text);
    color: var(--color-text);
    &:active {
      border-color: var(--color-text);
    }
    &:focus {
      border-color: var(--color-text);
      outline: none;
    }
  }
}

.gallery {
  width: 98%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  &__item {
    margin: 15px 10px;
    font-size: 18px;
    color: var(--color-text);
  }

  &__item-title {
    margin: 0;
    padding: 5px 0;
    font-size: 20;
    text-align: right;
  }

  &__item-action {
    display: flex;
    justify-content: space-between;
  }

  &__item-link {
    color: var(--color-text);
    font-size: 12px;
    text-decoration: none;
  }
}

.pagination {
  padding-bottom: 10px;
  width: 300px;
  display: flex;
  justify-content: space-around;
}

.button {
  border: none;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  &:hover {
    background-color: var(--color-primary-light);
    cursor: pointer;
    transition: all 1s ease-in-out 0s;
  }
}

.double-left-arrow {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 40%;
    left: 25%;
    width: 25px;
    height: 11px;
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='11' viewBox='0 0 25 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.94687 10.7852L0.913671 6.08789V4.98438L9.94687 0.287109V1.625L2.43711 5.53125L9.94687 9.44727V10.7852ZM24.018 10.7852L14.9848 6.08789V4.98438L24.018 0.287109V1.625L16.5082 5.53125L24.018 9.44727V10.7852Z' fill='%23292929'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.left-arrow {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 40%;
    left: 25%;
    width: 25px;
    height: 11px;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='11' viewBox='0 0 10 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.98242 10.7852L0.949219 6.08789V4.98438L9.98242 0.287109V1.625L2.47266 5.53125L9.98242 9.44727V10.7852Z' fill='%23292929'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.double-right-arrow {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 40%;
    left: 25%;
    width: 25px;
    height: 11px;
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='11' viewBox='0 0 25 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0055 6.08789L0.972265 10.7852V9.44727L8.48203 5.53125L0.972265 1.625V0.287109L10.0055 4.98438V6.08789ZM24.0766 6.08789L15.0434 10.7852V9.44727L22.5531 5.53125L15.0434 1.625V0.287109L24.0766 4.98438V6.08789Z' fill='%23292929'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.right-arrow {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 40%;
    left: 25%;
    width: 25px;
    height: 11px;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='11' viewBox='0 0 10 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.04102 6.08789L0.0078125 10.7852V9.44727L7.51758 5.53125L0.0078125 1.625V0.287109L9.04102 4.98438V6.08789Z' fill='%23292929'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
  }
}
