:root {
	--color-primary: #f4f3f1;
	--color-primary-light: #fddcc4;
	--color-secondary: #a29e9a;
	// --color-secondary-light: #b31313;
	--color-tertiary: #e6e1e1;

	--color-text: #525352;

	--color-disabled: #808080;

	--font-size-a1: 42px;
	--font-size-a2: 36px;
	--font-size-a3: 32px;
	--font-size-a4: 24px;
	--font-size-a5: 20px;
	--font-size-a6: 16px;
	--font-size-a7: 12px;
	// @media (max-width: 1024px) {
	// }
}
html[data-theme="dark"] {
	--color-primary: #0c0909;
	--color-primary-light: #838351;
	--color-secondary: #12100e;
	--color-secondary-light: #fbf8f8;
	--color-tertiary: #8d6666;

	--color-text: #cecbc6;
}
