.item {
	width: max(450px, 290px);
	color: var(--color-text);
	display: flex;
	flex-direction: column;
	gap: 16px;

	&__title {
		margin: 0;
		font-size: var(--font-size-a5);
		font-weight: 400;
	}

	&__action {
		display: flex;
		justify-content: space-between;
	}

	&__link {
		margin: 0;
		color: var(--color-text);
		font-size: var(--font-size-a7);
		text-decoration: none;
		cursor: pointer;
	}

	&__heart {
		cursor: pointer;
	}

	&__img {
		margin: 0;
		object-fit: contain;
		@media (max-width: 1430px) {
			width: max(100%, 290px);
		}
	}
}

.icon {
	border-color: var(--color-text);
}
