.footer {
	padding: 12px;
	display: flex;
	justify-content: space-around;
	background-color: var(--color-secondary);
	color: var(--color-text);

	&__item a {
		text-decoration: none;
		color: inherit;
	}
}
